.cell {
  padding: 3px;
  border-top: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;

  .cell_content {
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    
    &._1 {
      color: #3BB273;
    }

    &._2 {
      color: #4D9DE0;
    }

    &._3 {
      color: #ff9f00;
    }

    &._4 {
      color: #7768AE;
    }

    &._5 {
      color: #70C1B3;
    }

    &._6 {
      color: #247BA0;
    }

    &._7 {
      color: #274690;
    }

    &._8 {
      color: #FF1654;
    }

  }

  .mine {
    background-image: url('../assets/img/mine.png');
  }

  &.uncovered {
    border: 0.5px solid gray;
    background-color: #eee;
    
    .mine {
      background-image: url('../assets/img/fire.png');
    }
  }

  &:hover {
    cursor: pointer;
    background-color: darkgray;
    border: 0.5px solid gray;

    &.uncovered {
      background-color: #eee;
    }
  }

  .cell_content.flagged {
    background-image: url('../assets/img/X.png');

    // &.mine {
    //   background-image: none;
    // }
  }

  &.noHover:hover {
    cursor: default; 
    background-color: #c4c4c4;
    border-top: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
  }
}